<header class="header" role="banner">
    <header class="header">
        <div class="header__body is-slide-up">
          <div class="header__body--image">
            <a href="/">
              <img src="assets/img/logo.png" alt="Company Logo" />
            </a>
          </div>
        </div>
      
        <div class="header__foot">
          <nav class="header__foot--nav_head global-nav">
            <ul class="header__foot--nav_head-nav global-nav__list">
              <li class="is-slide-up global-nav__item"><a href="/company.html">会社情報</a></li>
              <li class="is-slide-up global-nav__item"><a href="/services.html">サービス</a></li>
              <li class="is-slide-up global-nav__item"><a href="/member.html">メンバー紹介</a></li>
            </ul>
          </nav>
      
          <nav class="header__foot--nav_body global-nav">
            <ul class="header__foot--nav_head-nav global-nav__list">
              <li class="is-slide-up global-nav__item"><a href="/news.html">ニュース</a></li>
              <li class="is-slide-up global-nav__item"><a href="/blog.html">企業ブログ</a></li>
              <li class="is-slide-up global-nav__item"><a href="/works.html">実績紹介</a></li>
            </ul>
          </nav>
      
          <nav class="header__foot--nav_foot global-nav">
            <ul class="header__foot--nav_head-nav global-nav__list">
              <li class="is-slide-up global-nav__item"><a href="/faq.html">FAQ</a></li>
              <li class="is-slide-up global-nav__item"><a href="/contact.html">Contact</a></li>
              <li class="is-slide-up global-nav__item"><a href="/recruit.html">採用情報</a></li>
            </ul>
          </nav>
        </div>
      </header>
      
  </header>