<header class="header">
    <div class="header__body is-slide-up">
        <div class="header__body--image">
            <img src="/assets/img/logo.png" />
        </div>
    </div>
    <div class="header__foot">
        <nav class="header__foot--nav_head global-nav">
            <ul class="header__foot--nav_head-nav global-nav__list">
                <li class="global-nav__item is-slide-up">AboutUs</li>
                <li class="global-nav__item is-slide-up">概要</li>
                <li class="global-nav__item is-slide-up">歴史</li>
            </ul>
        </nav>
        <nav class="header__foot--nav_body global-nav">
            <ul class="header__foot--nav_head-nav global-nav__list">
                <li class="global-nav__item is-slide-up">プロジェクト</li>
                <li class="global-nav__item is-slide-up">サービス</li>
                <li class="global-nav__item is-slide-up">展望</li>
            </ul>
        </nav>
        <nav class="header__foot--nav_foot global-nav">
            <ul class="header__foot--nav_head-nav global-nav__list">
                <li class="global-nav__item is-slide-up">メンバー紹介</li>
                <li class="global-nav__item is-slide-up">contact</li>
                <li class="global-nav__item is-slide-up">AboutUs</li>
            </ul>
        </nav>
        <button class="close-btn">
            <img src="/assets/img/close.png" alt="Close Button" class="close">
        </button>
    </div>
</header>