<header class="header">
    <div class="header__body is-slide-up">
        <div class="header__body--image">
            <img src="/assets/img/logo.png" />
        </div>
    </div>
    <div class="header__foot">
        <nav class="header__foot--nav_head global-nav">
            <ul class="header__foot--nav_head-nav global-nav__list">
                <li class="is-slide-up global-nav__item">AboutUs</li>
                <li class="is-slide-up global-nav__item">概要</li>
                <li class="is-slide-up global-nav__item">歴史</li>
            </ul>
        </nav>
        <nav class="header__foot--nav_body global-nav">
            <ul class="header__foot--nav_head-nav global-nav__list">
                <li class="is-slide-up global-nav__item">プロジェクト</li>
                <li class="is-slide-up global-nav__item">サービス</li>
                <li class="is-slide-up global-nav__item">展望</li>
            </ul>
        </nav>
        <nav class="header__foot--nav_foot global-nav">
            <ul class="header__foot--nav_head-nav global-nav__list">
                <li class="is-slide-up global-nav__item">メンバー紹介</li>
                <li class="is-slide-up global-nav__item">contact</li>
                <li class="is-slide-up global-nav__item">AboutUs</li>
            </ul>
        </nav>
        <button class="close-btn">
            <img src="/assets/img/close.png" alt="Close Button" class="close">
        </button>
    </div>
</header>