<header class="header">
    <div class="header__body">
        <div class="header__body--image">
            <img src="/assets/img/logo.png" />
        </div>
    </div>
    <div class="header__foot">
        <nav class="header__foot--nav_head">
            <ul>
                <li>AboutUs</li>
                <li>概要</li>
            </ul>
        </nav>
        <nav class="header__foot--nav_body">
            <ul>
                <li>プロジェクト</li>
                <li>サービス</li>
                <li>展望</li>
            </ul>
        </nav>
        <nav class="header__foot--nav_foot">
            <ul>
                <li>メンバー紹介</li>
                <li>contact</li>
                <li>AboutUs</li>
            </ul>
        </nav>
    </div>
</header>