
<footer class="footer">
    <div class="container">
    <div class="footer__head">
        <img src="/assets/img/logo.png" />
    </div>
    <div class="footer__information"></div>
         <ul>
         </ul>
    </div>
    <div class="footer__Contacts">

    </div>
    <div class="footer__foot">
        <nav>
            <ul class="footer__body--items">
                <li class="footer__body--item"><a href="#Project">Project</a></li>
                <li class="footer__body--item"><a href="#About">about</a></li>
                <li class="footer__body--item"><a href="#Main">main</a></li>
                <li class="footer__body--item"><a href="#Our">Our</a></li>
                <li class="footer__body--item"><a href="#Contact">contact</a></li>
                <li class="footer__body--item"><a href="#footer">menu</a></li>
            </ul>
        </nav>
        &copy; 2025 childTheme
    </div>

</div>
</footer>