
<footer class="footer">
    <div class="container">
    <div class="footer__head">
        <img src="/assets/img/logo.png" />
    </div>
    <div class="footer__information"></div>
         <ul>
                <li class="header__body--item"><a href="selectLanch.html">selectLanch</a></li>
                <li class="header__body--item"><a href="searchLanch.html">serchLanch</a></li>
                <li class="header__body--item"><a href="registerselection.html">registerselection</a></li>
                <li class="header__body--item"><a href="howtouse.html">howtouse</a></li>
         </ul>
    </div>
    <div class="footer__Contacts">

    </div>
    <div class="footer__foot">
        <nav>

        </nav>
        &copy; 2025 selectLanch
    </div>

</div>
</footer>