<header class="header">
    <div class="header__body">
        
        <div class="header__body--title">
            <a href="index.html">
            <img src="/assets/img/logo.png" alt="digitalproject"/>
            <!-- <h6>DIGITAL PROJECT</h4> -->
            </a>
        </div>
        
        <nav class="header__body--nav">
            <ul class="header__body--items">
                <li class="header__body--item"><a href="#Project">Project</a></li>
                <li class="header__body--item"><a href="#About">about</a></li>
                <li class="header__body--item"><a href="#Main">main</a></li>
                <li class="header__body--item"><a href="#Our">Our</a></li>
                <li class="header__body--item"><a href="#Contact">contact</a></li>
                <li class="header__body--item"><a href="#footer">menu</a></li>
            </ul>
        </nav>
    </div>
</header>