section {
    height: 90vh;
    width: 100vw;
    position: relative; 
}

.project {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10vh;
    padding: auto;
}

.text {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 122px; 
  }

.text h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    letter-spacing: 1vw;
    text-align: center;
    color: white;
    background-image:url('https://i.imgur.com/hkqNXDo.jpeg');
    background-size: auto 200%;
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 20s linear infinite;
    &:nth-child(2) {
      top: 50vh;
    }
    @keyframes shine {
      from {
        background-position: center 0;
      }
      to {
        background-position: center 200%;
      }
    }
  }
  
  @media screen and (min-width: 1200px) {
    .text h1 {
      width: 1200px;
      font-size: 150px;
    }
  }

  .project__body {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.project__body--head {
    position: relative;
    width: 40vw;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px 0px rgb(87, 85, 85);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__body--foot {
    position: relative;
    width: 40vw;
    height: 100%;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 10px 0px rgb(87, 85, 85);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service service {
    width: 100%;
    height: 100%;
}

  .service {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: block;
    position: absolute;
    max-width: 225px;
  }

  .button{
    float: left;
    position: relative;
    bottom: -65px;
    left: 50%;
    transform: translateX(-50%) rotate(-10deg);
    color: red;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    
    span{
      transform: skew(-10deg);
      display: block;
      float: left;
      }
  }
  
  .service h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 42px;
    margin: 0;
    line-height: 47px;
    letter-spacing: 2px;
  }
  
  .service .title{
    transform: translateX(-50%) rotate(-10deg);
    display: block;
    float: left;
    left: 50%;
    position: relative;
    
    span {
      transform: skew(-10deg);
      display: block;
      float: left;
      min-width: 10px;
      min-height: 10px;
      position: relative;
    }
  }
  
  .service .title{
    &:nth-child(1){
      color: red;
    }
    &:nth-child(2){
      color: green;
    }
    &:nth-child(3){
      color: yellow;
    }
  }