<section class="project">
    <div class="text background">
        <h1>
            <%= title %>
        </h1>
        <%= content %>
    </div>
    
</section>

<section class="service">
    <h1>
        <span class="title">life</span>
        <span class="title">a long</span>
        <span class="title">long title</span>
      </h1>
      
      <div class="button">restart</div>
</section>

<section class="vision">

</section>
