<section class="project">
    <div class="text background project__head">
        <h1>
            <%= title %>
        </h1>
        
    </div>
    <div class="project__body">
        <div class="project__body--head">
            <h2>
                企業紹介
            </h2>
        </div>
        <div class="project__body--foot">
            <h2>
                プロジェクト紹介
            </h2>
        </div>
    </div>
    
</section>

<section class="service">
    <h1>
        <span class="title">life</span>
        <span class="title">a long</span>
        <span class="title">long title</span>
      </h1>
      
      <div class="button">restart</div>
</section>

<section class="vision">

</section>
